fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-qdrant
langchain-text-splitters
qdrant-client
google-generativeai
pypdf
python-multipart
httpx